<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="true">
    <property name="LOG_DIR" value="${EXT_DIR:-/sdcard/Android/data/org.leeroy.media}/logback"/>

    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{200}</pattern>
        </tagEncoder>
        <encoder>
            <!--<pattern>[%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- exclude trace from logcat-->
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/nova.log</file>
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- exclude trace from logcat-->
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/nova-%d.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>50MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Debug first activity -->
    <logger name="org.leeroy.mediaplayer.video.browser.MainActivity" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.browser.MainFragment" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.MainFragment" level="DEBUG"/>
    <logger name="org.leeroy.mediaplayer.video.CustomApplication" level="INFO"/>

    <logger name="org.leeroy.mediaplayer.video.browser.FileManagerService" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.browser.NewVideosActionProvider" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.browser.TorrentObserverService" level="INFO"/>

    <!-- Debug player -->
    <logger name="org.leeroy.mediaplayer.video.player.Player" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.SurfaceController" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.PlayerActivity" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.PlayerController" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.PlayerService" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.MediaButtonService" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.tvmenu.TVCardDialog" level="INFO"/>

    <!-- Debug permissions -->
    <logger name="org.leeroy.mediaplayer.video.browser.PermissionChecker" level="INFO"/>

    <logger name="org.leeroy.filecorelibrary.FileUtils" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.FileUtilsQ" level="INFO"/>

    <!-- Debug network shares -->
    <logger name="org.leeroy.filecorelibrary.sshj" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.smbj" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.webdav" level="INFO"/>

    <logger name="org.leeroy.mediaplayer.video.browser.filebrowsing.BrowserByFolder" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.filebrowsing.ListingFragment" level="INFO"/>

    <logger name="org.leeroy.mediaplayer.filecoreextension.upnp2" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.upnp" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.samba.NetworkCredentialsDatabase" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.network.NetworkServerCredentialsDialog" level="INFO"/>

    <!-- bookmarks (also in PlayerService -->
    <logger name="org.leeroy.mediaplayer.utils.videodb.XmlDb" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.utils.videodb.IndexHelper" level="INFO"/>

    <logger name="org.leeroy.mediaprovider.video.VideoStoreImportReceiver" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.VideoStoreImportService" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.VideoStoreImportImpl" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.NetworkScannerServiceVideo" level="INFO"/>
    <logger name="org.leeroy.mediascraper.AutoScrapeService" level="INFO"/>

    <!-- Debug: Did not manage to access the file -->
    <logger name="org.leeroy.mediaplayer.video.info.VideoInfoActivityFragment" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.details.VideoDetailsFragment" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.details.FileDetailsRowPresenter" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.overlay.ScannerAndScraperProgress" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.overlay.Overlay" level="INFO"/>

    <logger name="org.leeroy.mediaplayer.video.info.VideoInfoCommonClass" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.utils.VideoMetadata" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.utils.CodecDiscovery" level="INFO"/>
    <logger name="org.leeroy.medialib.AvosMediaMetadataRetriever" level="INFO"/>
    <logger name="org.leeroy.medialib.AndroidMediaMetadataRetriever" level="INFO"/>

    <logger name="org.leeroy.medialib.SmbProxy" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.StreamOverHttp" level="INFO"/>

    <!-- Debug jcifs -->
    <logger name="jcifs.netbios.UdpDiscovery" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.jcifs" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.browser.filebrowsing.network.SmbBrowser" level="INFO"/>
    <logger name="jcifs.netbios.UdpDiscovery" level="INFO"/>
    <logger name="jcifs.netbios.NameServiceClientImpl" level="INFO"/>
    <logger name="jcifs.smb.SmbSessionImpl" level="INFO"/>
    <logger name="jcifs.util.transport.Transport" level="INFO"/>
    <logger name="jcifs.smb.SmbTransportImpl" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.samba" level="INFO"/>

    <!-- Debug trakt -->
    <logger name="org.leeroy.mediaplayer.utils.trakt.Trakt" level="DEBUG"/>
    <logger name="org.leeroy.mediaplayer.utils.trakt.TraktService" level="DEBUG"/>
    <logger name="org.leeroy.mediaplayer.utils.trakt.TraktAPI" level="DEBUG"/>
    <logger name="org.leeroy.mediaplayer.video.utils.oauth.OAuthDialog" level="DEBUG"/>
    <logger name="org.leeroy.mediaplayer.video.utils.TraktSigninDialogPreference" level="DEBUG"/>

    <!-- Debug scraper -->
    <logger name="org.leeroy.mediascraper.themoviedb3" level="INFO"/>
    <logger name="org.leeroy.mediascraper.themoviedb3.MyTmdb" level="INFO"/>
    <logger name="org.leeroy.mediascraper.preprocess" level="INFO"/>
    <logger name="org.leeroy.mediascraper.preprocess.MovieDefaultMatcher" level="INFO"/>
    <logger name="org.leeroy.mediascraper.preprocess.ParseUtils" level="INFO"/>

    <logger name="org.leeroy.mediascraper.xml" level="INFO"/>
    <logger name="org.leeroy.mediascraper.NfoWriter" level="INFO"/>
    <logger name="org.leeroy.mediascraper.NfoParser" level="INFO"/>
    <logger name="org.leeroy.mediascraper.themoviedb3.SearchMovieParser2" level="INFO"/>
    <logger name="org.leeroy.mediascraper.themoviedb3.SearchParserResult" level="INFO"/>
    <logger name="org.leeroy.mediascraper.themoviedb3.SearchShowParser" level="INFO"/>
    <logger name="org.leeroy.mediascraper.AllCollectionScrapeService" level="INFO"/>
    <logger name="org.leeroy.mediascraper.xml.MovieScraper3" level="INFO"/>
    <logger name="org.leeroy.mediascraper.xml.ShowScraper4" level="INFO"/>


    <logger name="org.leeroy.mediaprovider.video.ScraperTables" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.VideoOpenHelper" level="INFO"/>

    <!-- Subtitles -->
    <logger name="org.leeroy.mediaplayer.video.utils.SubtitlesDownloaderActivity2" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.utils.OpenSubtitlesApiHelper" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.utils.ISO639codes" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.utils.VideoPreferencesCommon" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.SubtitleManager" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.browser.subtitlesmanager.SubtitleManager" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.Subtitle3DTextView" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.player.SubtitleGfxView" level="INFO"/>

    <logger name="org.leeroy.mediaplayer.video.utils.MiscUtils" level="INFO"/>

    <!-- Debug auto-scan refresh -->
    <logger name="org.leeroy.mediaprovider.video.NetworkAutoRefresh" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.NetworkScannerUtil" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.NetworkRefreshJob" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.RemoteStateService" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.VideoProvider" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.video.ScraperProvider" level="INFO"/>
    <logger name="org.leeroy.mediaprovider.MediaThumbnailService" level="INFO"/>

    <logger name="org.leeroy.mediaprovider.VolumeState" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.ExtStorageManager" level="INFO"/>
    <logger name="org.leeroy.filecorelibrary.ExtStorageReceiver" level="INFO"/>

    <logger name="org.leeroy.mediaplayer.video.utils.DelayedBackgroundLoader" level="INFO"/>
    <logger name="org.leeroy.mediaplayer.video.leanback.UnavailablePosterBroadcastReceiver" level="INFO"/>

    <includes>
        <include file="${LOG_DIR}/logback.xml" optional="true" />
    </includes>

    <root level="INFO">
        <appender-ref ref="logcat"/>
    </root>

</configuration>
